<mat-sidenav-container class="sidenav_container" (backdropClick)="close('backdrop')">
    <mat-sidenav #sidenav (keydown.escape)="close('escape')" disableClose>
        <mat-toolbar class="head__sidenav ">
            <span class="spacer"></span>
            <h6>Encabezado</h6>
            <span class="spacer"></span>
            <button mat-icon-button (click)="close('toggle button')">
                <mat-icon>close</mat-icon>
            </button>
        </mat-toolbar>
        <div class="container-fluid">
            <p>content start vivsible here</p>
        </div>
    </mat-sidenav>
    <mat-sidenav position="end" #sidenavend (keydown.escape)="close('escape')" disableClose>

        <mat-toolbar class="head__sidenav ">
            <button mat-icon-button (click)="close('toggle button')">
                <mat-icon>close</mat-icon>
            </button>
            <span class="spacer"></span>
            <h6>Encabezado</h6>
            <span class="spacer"></span>
        </mat-toolbar>

    </mat-sidenav>
    <mat-sidenav-content>
        <mat-toolbar class="toolbarPhone">
            <mat-toolbar-row>
                <button mat-icon-button (click)="sidenav.open()">
                    <mat-icon>menu</mat-icon>
                </button>
                <span class="spacer"></span>
                <button mat-icon-button (click)="sidenavend.open()">
                    <mat-icon>menu</mat-icon>
                </button>
            </mat-toolbar-row>
            <mat-toolbar-row>

                <span class="spacer"></span>

            </mat-toolbar-row>
        </mat-toolbar>
        <mat-toolbar class="toolbarlarge">
            <!-- <button mat-icon-button (click)="sidenav.open()">
                <mat-icon>menu</mat-icon>
            </button> -->
            <span class="spacer"></span>
            <button mat-icon-button (click)="sidenavend.open()">
                <mat-icon>menu</mat-icon>
            </button> 
        </mat-toolbar>
        <!--Container-->
        <div class="container_page">
            <div class="container_start">
                <p>start</p>

            </div>
            <div class="container_main">

                <p>content</p>
            </div>
        </div>
    </mat-sidenav-content>
</mat-sidenav-container>